<section id="start">
    <div class="containerBlok">
        <div class="containerBlok__leftSection">
            <div class="containerBlok__leftBox">
                <div class="containerBlok__leftText">Kamil Jamróz</div>
                <div class="containerBlok__leftLine"></div>
            </div>
        </div>

        <div class="containerBlok__rightSection">
            <div class="containerBlok__rightBox">
                <div class="containerBlok__Text">
                    <h1>Port <br> folio</h1>
                </div>
                <div class="containerBlok__greenSquare"></div>
            </div>
        </div>
    </div>
</section>
<section id="about">
    <div class="page__header">
        <div class="page__headerText">
            <h2>o mnie</h2>
        </div>
        <div class="page__line"></div>
    </div>
    <div class="about__fullBox">
        <div class="about__box">
            <div class="about__leftSection"><img src="./dist/assets/img/me.jpg"> </div>
            <div class="about__rightSection">
                <h2>Kamil Jamróz</h2>
                <p>Mam na imię Kamil i pochodzę z małej miejscowośći obok Krakowa. Od dziecka interesuje się wszystkim
                    co ma związek z komputerami. Począwszy od gier komputerowych, przez elementy komputera, po
                    oprogramowanie. W technikum na profilu Informatycznym zrozumiałem, że programowanie sprawia mi
                    przyjemość. W różnego typu projektach, ogromną uwagę zawsze przywiązywałem do wizualnego efektu
                    strony. Dlatego też, zainteresowałem się projektowaniem stron. Bardzo interesuje mnie wiedza z
                    zakresu tworzenia witryn, które są ładne a zarazem funkcjonalne. Moją wymarzona praca to
                    taka, w której będę mógł połączyć pisanie kodu, oraz wykazać się umiejętnościami z zakresu programów
                    graficznych.</p>
                <div class="about__socialMedia">
                    <a href="https://www.behance.net/jamro_gfx" target="_blank" rel="noopener noreferrer"
                        class="uiHeadline__button">
                        <i class="fab fa-behance-square"></i> </a>

                    <a href="https://www.instagram.com/jamro_gfx" target="_blank" rel="noopener noreferrer"
                        class="uiHeadline__button">
                        <i class="fab fa-instagram"></i> </a>

                    <a href="https://www.linkedin.com/in/kamil-jamr%C3%B3z-262207216" target="_blank"
                        rel="noopener noreferrer" class="uiHeadline__button">
                        <i class="fab fa-linkedin"></i> </a>

                </div>
            </div>

        </div>
        <div class="about__box2">
            <div class="about__features">
                <div class="about__skills">

                    <h3>Umiejętności</h3>
                    <ul>
                        <li><span>HTML 5</span> - Tworzenie szkieletu strony internetowej przy wykorzystaniu najnowszej
                            wersji języka HTML</li>
                        <li><span>CSS + SCSS</span> - Tworzenie arkuszy stylów głównie w oparciu o Flexbox. SCSS używam
                            głównie do
                            zmiennych, oraz tworzenia mixin-ów </li>
                        <li><span>Boostrap</span> - potrafię stworzyć stronę internetową za pomocą tego Frameworka,
                            chodź
                            raczej
                            nie sięgam po to narzędzie. W przeszłości było dane mi się go nauczyć.</li>
                        <li><span>Emmet i BEM</span> - Znam podstawowe skróty języka Emmet które przyspieszają
                            pisanie kodu w HTML oraz CSS. Przy projektach staram używać się metodologi BEM</li>
                        <li><span>javaScript</span> - znam podstawy javaScript i potrafię go wdrożyć do tworzonych
                            projektów.
                            Zmienne, opertory, działania na tablicach, instrukcje warunkowe, pętle,
                            funkcje, modyfikacja DOM, liczby losowe, daty </li>

                        <li><span>Wordpress + WooCommerce</span> - tworzenie stron za pomocą Wordpress przy wstparciu
                            wtyczki
                            Elementor oraz pisaniu kodu CSS. Posiadam również umiejętność skonfigurowania prostego
                            sklepu za pomocą wtyczki WooCommerce</li>
                        <li><span>Webflow</span> - Potrafię stworzyć prostą stronę internetową za pomocą tego narzędzia
                        </li>
                        <li><span>Photoshop</span> - Potrafię dokonać różnego rodzaju modyfikację na zdjęciach. Efekty
                            mojej
                            pracy w portfolio.</li>
                        <li><span>Adobe XD i Figma</span> - Za pomocą tych programów tworzę graficzne projekty stron
                            internetowych. Chodź częściej pracowałem z Adobe XD, coraz częściej wykorzystuję Figmę
                            przy obecnych projektach.</li>

                    </ul>
                </div>
                <div class="about__otherInfoBox">
                    <div class="about__otherInfo">
                        <h3>Edukacja</h3>
                        <ul>
                            <li><span>2013-2017</span> Techników Komunikacyjne nr.25 w Krakowie (Techink Informatyk)
                            </li>
                            <li><span>2018</span> Szkoła Grafiki Komputerowej</li>
                            <li><span>2018-2021</span> Uniwerystet Ekonomiczny w Krakowie (Marketing i komunikacja
                                rynkowa) </li>
                        </ul>
                    </div>

                    <div class="about__otherInfo">
                        <h3>Zainteresowania</h3>
                        <ul>
                            <li><span>Sport</span> (Piłka nożna / siłownia)</li>
                            <li><span>Gry umysłowe</span>(szachy/ kostka rubika)</li>
                            <li><span>Aktywne spędzanie czasu </span>ze znajomymi</li>
                            <li><span>Edukacja</span> z zakresu różnych programów lub języków programowania</li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="portfolio">
    <!--nagłówek portfolio-->
    <div class="page__header">
        <div class="page__headerText">
            <h2>portfolio</h2>
        </div>
        <div class="page__line"></div>
    </div>
    <!--projekty photoshop-->
    <div class="photoshop">
        <div class="photoshop__box">
            <h3>Photoshop</h3>
            <div class="photoshop__sources">
                <img src="./dist/assets/img/pogba.png" alt="portfolio_pogba" />
                <img src="./dist/assets/img/beckham.png" alt="portfolio_beckham" />
                <img src="./dist/assets/img/lewandowski.png" alt="portfolio_lewandowski" />
            </div>
        </div>
    </div>

    <!--nagłówek pod ui-->
    <div class="widthLine"></div>
    <div class="uiHeadline">
        <div class="uiHeadline__box">
            <div class="uiHeadline__text">
                <h3>UI/ UX design</h3>
            </div>
            <div class="uiHeadline__technology">
                <h3>Technologie: Adobe XD</h3>
                <a href="https://www.behance.net/gallery/117126405/Musicoco-Music-App" target="_blank"
                    rel="noopener noreferrer" class="uiHeadline__button">
                    Zobacz na <i class="fab fa-behance-square"></i> </a>

            </div>

        </div>
    </div>
    <!--1 projekt portfolio-->
    <div class="ui1">
        <img src="./dist/assets/img/qwe.png" alt="portfolio_ui--musicapp1" />
        <img src="./dist/assets/img/ewq.png" alt="portfolio_ui--musicapp2" />
    </div>


    <div class="widthLine"></div>
    <div class="uiHeadline">
        <div class="uiHeadline__box">
            <div class="uiHeadline__text">
                <h3>UI/ UX design</h3>
            </div>
            <div class="uiHeadline__technology">
                <h3>Technologie: Adobe XD, Wordpress, CSS</h3>
                <a href="https://www.kamiljamroz.pl" target="_blank" rel="noopener noreferrer"
                    class="uiHeadline__button">Na żywo</a>

            </div>

        </div>
    </div>
    <!--drugi projekt ui-->
    <div class="ui2">
        <div class="ui2__box">
            <div class="ui2__left">
                <img src="./dist/assets/img/projekt2_phone.png" alt="portfolio_ui2--phoneMockUp" />
            </div>
            <div class="ui2__right">
                <div class="ui2__up">
                    <img src="./dist/assets/img/projekt2.png" alt="portfolio_ui2--enterPage" />
                </div>
                <div class="ui2__down">
                    <img src="./dist/assets/img/projekt2_white.png" alt="portfolio_ui2--aboutWeb" />
                </div>
            </div>
        </div>
    </div>
    <!--3 projekt portfolio-->
    <div class="widthLine"></div>
    <div class="uiHeadline">
        <div class="uiHeadline__box">
            <div class="uiHeadline__text">
                <h3>UI/ UX design</h3>
            </div>
            <div class="uiHeadline__technology">
                <h3>Technologie: Figma, HTML, SCSS, javaScript</h3>

                <a href="https://github.com/Liberoo/portfolio_webiste" target="_blank" rel="noopener noreferrer"
                    class="uiHeadline__button"><i class="fab fa-github"></i> GitHub</a>
            </div>

        </div>
    </div>
    <div class="ui3">
        <div class="ui3__box"> <img src="./dist/assets/img/img1.png" alt="portfolio_ui3" />
            <img src="./dist/assets/img/img2.png" alt="portfolio_ui3" />
        </div>
    </div>

</section>

<section id="contact">
    <!--kontakt nagłowek-->
    <div class="page__header">
        <div class="page__headerText">
            <h2>Kontakt</h2>
        </div>
        <div class="page__line"></div>
    </div>

    <!--sekcja kontakt-->
    <div class="contact">
        <div class="contact__box">

            <div class="contact__info"><i class="far fa-envelope icons"></i> <span>e-mail:</span> kamil-jamroz@o2.pl
            </div>
            <div class="contact__info"><i class="fas fa-mobile-alt icons"></i><span>telefon:</span> 667-897-507</div>
        </div>
    </div>
</section>