<nav>
    <div class="menu">
        <div class="menu__logo"><a href="#start">KJ</a></div>
        <ul class="menu__list">
            <li class="menu__link"><a href="#about"><i class="far fa-address-card"></i> About </a></li>
            <li class="menu__link"><a href="#portfolio"><i class="fas fa-drafting-compass"></i> Portfolio</a></li>
            <li class="menu__link"><a href="#contact" class="menu__link--btn">Contact</a></li>
        </ul>
        <div class="menu__burger">
            <div class="menu__burgerLine1"></div>
            <div class="menu__burgerLine2"></div>
            <div class="menu__burgerLine3"></div>
        </div>
    </div>

</nav>